.button {
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 2rem;
  transition: filter 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;
  &.outlined {
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
    transition: filter 0.2s;

    &:hover {
      background: #835afd;
      color: #fff;
    }
  }
  div {
    margin-right: 1rem;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
