.question {
  background: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
  padding: 1.5rem;
  border: 1px solid transparent;

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    .userInfo > span {
      color: #29292e 100%;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  & + .question {
    margin-top: 0.5rem;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    div:last-child {
      display: flex;
      gap: 1rem;
    }

    .userInfo {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      > span {
        margin-left: 0.5rem;
        color: #737380;
        font: 400 0.875rem "Roboto", sans-serif;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.likeButton {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 0.5rem;
        transition: filter 0.2s;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }

      &.deleteButton {
        & svg path {
          transition: stroke 0.3s;
        }

        &:hover svg path {
          stroke: #cc0000;
        }
      }

      &.checkButton {
        & svg path,
        & circle {
          transition: stroke 0.3s;
        }

        &:hover svg path,
        &:hover circle {
          stroke: #68d391;
        }
      }

      &.answerButton {
        & svg path,
        & circle {
          transition: stroke 0.3s;
        }

        &:hover svg path,
        &:hover circle {
          stroke: blue 80%;
        }

        &.active svg path {
          stroke: blue 80%;
        }
      }
    }
  }
}
